PORT=3000
MONGODB_USER=your_mongodb_user
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_url
MONGODB_DB=your_mongodb_database

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

SMTP_HOST=your_bravo_host
SMTP_PORT=your_bravo_port
SMTP_USER=your_bravo_user
SMTP_PASSWORD=your_bravo_password
SMTP_FROM=your_sender_email

APP_DOMAIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

UPLOAD_TO_CLOUDINARY=true
